$scrollbar-color: #9d9d9d;
$bg-main-color: #1d1f1b;
$bg-auxiliary-color: #262823;

$color-main: #fff !default;
$color-primary: #409eff !default;
$color-info: #5bc0de !default;
$color-success: #5cb85c !default;
$color-danger: #d9534f !default;
$color-warning: #f0ad4e !default;
$color-gary: #ededed !default;

$size-small: 14px !default;
$size-mini: $size-small - 2px;
$size-medium: $size-small + 2px !default;
$size-larger: $size-medium + 2px !default;

$white: #ffffff;
$white1: #f6f6f6;
$afterFocus: #f2f2f2;
$lightCyan: #f4faff;
$beforeFocus: #bfbfbf;
$deep: #1a1a1a;
$mainColor: #1e1e1e;
$secondColor: #262626;
$thirdColor: #333333;
$danger: #f92772;
$primary: #ae81ff;
$deepBlue: #66d9ee;
$describe: #999999;
$gold: #e6da74;
$green: #a7e22e;
$orange: #fe9720;
$blak: #090708;
$pink: #ae81ff;
$dialogShadow: rgba(0, 0, 0, 0.4);
$gary: #808080;
$gary1: #74715e;
$font:
  Montserrat,
  Helvetica Neue,
  Helvetica,
  PingFang SC,
  Hiragino Sans GB,
  Microsoft YaHei,
  SimSun,
  sans-serif;
$codeFont: Consolas, Monaco;
